$bg-cine: #111115;      

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2rem;
  background-color: $bg-cine;
  min-height: 100vh;
}